[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
m2r2 = "*"
black = "*"
snooty-lextudio = "*"
rstcheck = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
