[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = ">=4.1.0,<5.0"
autopep8 = "*"
docutils = "*"
rstcheck = "*"
myst-parser = "*"
sphinx-rtd-theme = "*"
sphinx-sizzle-theme = "*"

[requires]
python_version = "3.9"
